//pallette

$white: #fff;
$dark-grey: #404040;
$light-grey: #ccc;
$hover-grey: #fafafa;
$color: #215b99;
$won: #8dbe58;
$loss: #c33f3f;
$draw: #ffb439;

//fonts
$base-font--default: $dark-grey;
$base-font--inverse: $white;
$hightlight--font: $color;
$unfocus--font: $light-grey;

//background
$default-background: $white;
$highlight-background: $color;
$hover-background: $hover-grey;

//border
$border-color--inverse: 1px solid $white;
$border-color--color: 1px solid $color;

//won/loss/draw
$won-background: transparentize($won, .5);
$loss-background: transparentize($loss, .5);
$draw-background: transparentize($draw, .5);
