<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LUFC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/vendor/slick.css"/>
    <link rel="stylesheet" href="css/style.css"/>

  </head>
  <body ng-app="LUFCApp" ng-controller="MainController">
    <div class="container-fluid landing-wrapper">
      <div class="row">
        <div class="col-md-4 col-lg-6 landing-image">
          <img class="non-mobile" src="Images/Football.svg"/>
        </div>
        <div class="col-md-8 col-lg-6 pull-right-lg mobile-form">
          <div class="col-md-8 pull-right-lg right">
            <h1 class="title">Leeds United match stats</h1>
            <div class="tabs-wrapper">
              <button class="slick-prev" ng-click="seasonConfig.method.slickPrev()">recent seasons</button>
              <button class="slick-next" ng-click="seasonConfig.method.slickNext()">previous seasons</button>
              <slick class="tabs" settings="seasonConfig">
                  <div ng-repeat="product in season" ng-class="{active: $index === selected}" ng-click="select($index)" class="parallelogram" data-value="{{ product.value }}">{{ product.name }}</div>
              </slick>
            </div>
          </div>
          <form class="col-md-12 form">
            <div class="row">
              <div class="col-md-10 col-lg-9 pull-right-lg">
                <div class="form-group col-md-5 col-sm-6 custom-select no-padding">
                  <form-select select="competition" ng-model="compSelect"></form-select>
                </div>
                <form-checkbox check="han"></form-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 col-lg-10  pull-right-lg">
                <div class="form-group col-md-5 col-sm-6 custom-select no-padding">
                  <form-select select="manager" ng-model="manageSelect"></form-select>
                </div>
                <form-checkbox check="wld"></form-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-11 pull-right-lg">
                <div class="form-group col-sm-6 col-md-4 custom-select no-padding">
                  <form-select select="venue" ng-model="venueSelect"></form-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 custom-select mobile-no-padding">
                  <form-select select="scorers" ng-model="scorersSelect"></form-select>
                </div>
                <div class="form-group col-sm-6 col-md-4 custom-select no-padding">
                  <form-select select="opposition" ng-model="oppoSelect"></form-select>
                </div>
              </div>
            </div>
            <div class="col-md-12  pull-right-lg no-padding">
              <div class="panel-group">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse1" class="more_button" ng-class="{open: !toggle}" ng-click="toggle = !toggle">{{toggleText}}</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="form-group col-md-5 col-sm-6 custom-select no-float">
                        <form-select select="city" ng-model="citySelect"></form-select>
                      </div>
                      <div class="form-group col-sm-6 col-md-6 col-lg-5 custom-select no-float">
                        <form-select select="opposition_manager" ng-model="oppmanageSelect"></form-select>
                      </div>
                      <div class="form-group col-sm-6 col-md-5 custom-select no-float">
                        <form-select select="referee" ng-model="refereeSelect"></form-select>
                      </div>
                      <div class="form-group col-sm-6 col-md-6 col-lg-5 custom-select no-float">
                        <form-select select="assistant_manager" ng-model="assistSelect"></form-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12  pull-right-lg center">
              <button type="button" ng-click="send(); display=true;" class="button-primary search" scroll-window>Search</button>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-lg-6" ng-controller="TwitterController">
          <slick class="slider" infinite="true" arrows="false" slides-to-show="1" autoplay="true" autoplay-speed="4000">
            <div class="col-md-6 col-lg-8 slide" ng-repeat="tweet in tweets">
              <h2>{{tweet.message}}</h2>
              <a href="#" class="highlight">{{tweet.hashtag}}</a>
              <a href="#"><img ng-src="{{tweet.image}}"/></a>
            </div>
          </slick>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-show="display">
      <div class="row">
        <div class="results-wrapper" ng-controller="ResultsController">
          <div class="season-wrapper">
            <button class="slick-prev" ng-click="slickConfig.method.slickPrev()"></button>
            <div class="slick-wrapper">
              <slick class="season-tab" settings="slickConfig" >
                <div class="season" ng-repeat="product in season" data-value="{{ product.value }}">{{ product.name }}</div>
              </slick>
            </div>
            <button class="slick-next" ng-click="slickConfig.method.slickNext()"></button>
          </div>
          <loading></loading>
          <div class="table-wrapper">
            <table class="table" ng-show="(results | searchFilter: {competition: compSelect} | searchFilter: {manager: manageSelect} | checkboxFilter: {han: checkedHan} | checkboxFilter: {result: checkedWld} | searchFilter: {venue: venueSelect}
            | scorerFilter: scorersSelect | searchFilter: {opposition: oppoSelect} | searchFilter: {city: citySelect} | searchFilter: {opposition_manager: oppmanageSelect} | searchFilter: {referee: refereeSelect} | searchFilter: {assistant_manager: assistSelect}).length">
              <thead>
                <tr>
                  <th>Competition</th>
                  <th>Date</th>
                  <th>H/A/N</th>
                  <th>Venue</th>
                  <th>Opposition</th>
                  <th>Score</th>
                  <th>Result</th>
                  <th class="goal-scorers">Goal Scorers</th>
                  <th>Manager</th>
                  <th ng-show="extra">Assistant Manager</th>
                  <th ng-show="extra">Opposition Manager</th>
                  <th ng-show="extra">Referee</th>
                  <th ng-show="extra">City</th>
                  <th><button type="button" class="extra-button" ng-class="{expanded: extra}" ng-click="extra = !extra"></button></th>
                </tr>
              </thead>
              <tbody id="results">
                <tr ng-repeat="result in results | toArray | searchFilter: {competition: compSelect} | searchFilter: {manager: manageSelect} | checkboxFilter: {han: checkedHan} | checkboxFilter: {result: checkedWld} | searchFilter: {venue: venueSelect}
                | scorerFilter: scorersSelect | searchFilter: {opposition: oppoSelect} | searchFilter: {city: citySelect} | searchFilter: {opposition_manager: oppmanageSelect} | searchFilter: {referee: refereeSelect} | searchFilter: {assistant_manager: assistSelect}
                | orderBy: 'id'">
                  <td class="competition" data-value="{{result.competition}}">{{result.competition}}</td>
                  <td class="date" data-value="{{result.date}}">{{result.date}}</td>
                  <td class="han" data-value="{{result.han}}">{{result.han}}</td>
                  <td class="venue" data-value="{{result.venue}}">{{result.venue}}</td>
                  <td class="opposition" data-value="{{result.opposition}}">{{result.opposition}}</td>
                  <td class="score"><span ng-class="{home: (result.han == 'Home')}">{{result.score1}}</span> - <span ng-class="{home: (result.han == 'Away')}">{{result.score2}}</span></td>
                  <td class="result" ng-class="{won: (result.result == 'Won' || result.result == 'Won (P)' || result.result == 'Won (ET)'), lost: (result.result == 'Lost' || result.result == 'Lost (P)'|| result.result == 'Lost (ET)'), draw: (result.result == 'Draw')}" data-value="{{result.result}}">{{result.result}}</td>
                  <td class="scorers" ng-if="result.scorers[0].scorer == undefined" data-value="{{result.scorer1}}">{{result.scorer1}}</td>
                  <td class="scorers" ng-if="result.scorers[0].scorer !== undefined">
                    <div class="dropdown">
                      <div class="drop scorer" data-value="{{result.scorer1}}" ng-class="{open: dropdown}" ng-click="dropdown = !dropdown">{{result.scorer1}}</div>
                      <div class="dropdown-content" ng-show="dropdown">
                        <p ng-repeat="scorer in result.scorers">{{scorer.scorer}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="manager" data-value="{{result.manager}}">{{result.manager}}</td>
                  <td class="assistant_manager" ng-show="extra" data-value="{{result.assistant_manager}}">{{result.assistant_manager}}</td>
                  <td class="opposition_manager" ng-show="extra" data-value="{{result.opposition_manager}}">{{result.opposition_manager}}</td>
                  <td class="referee" ng-show="extra" data-value="{{result.referee}}">{{result.referee}}</td>
                  <td class="city" ng-show="extra" data-value="{{result.city}}">{{result.city}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="no-results" ng-hide="(results | searchFilter: {competition: compSelect} | searchFilter: {manager: manageSelect} | checkboxFilter: {han: checkedHan} | checkboxFilter: {result: checkedWld} | searchFilter: {venue: venueSelect}
          | scorerFilter: scorersSelect | searchFilter: {opposition: oppoSelect} | searchFilter: {city: citySelect} | searchFilter: {opposition_manager: oppmanageSelect} | searchFilter: {referee: refereeSelect} | searchFilter: {assistant_manager: assistSelect}).length">
            <p>Sorry, there are no results for your search.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91856472-1', 'auto');
      ga('send', 'pageview');

    </script>


    <!-- Initialise carousel -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/slick.min.js"></script>

    <!-- Vendor scripts -->
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/toArrayFilter.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/oauth.min.js"></script>

    <!-- angular carousel scripts -->
    <script src="js/vendor/angular-slick.min.js"></script>

    <!-- module -->
    <script src="js/modules/app.js"></script>

    <!-- controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/TwitterController.js"></script>
    <script src="js/controllers/ResultsController.js"></script>

    <!-- services -->
    <script src="js/services/object.js"></script>
    <script src="js/services/filter.js"></script>
    <script src="js/services/search.js"></script>
    <script src="js/services/twitter.js"></script>

    <!-- filters -->
    <script src="js/filters/searchFilter.js"></script>
    <script src="js/filters/checkboxFilter.js"></script>
    <script src="js/filters/scorerFilter.js"></script>

    <!-- directives -->
    <script src="js/directives/formSelect.js"></script>
    <script src="js/directives/formCheckbox.js"></script>
    <script src="js/directives/scrollWindow.js"></script>
    <script src="js/directives/loading.js"></script>

  </body>
</html>
