.slider {
  @extend %carousel-font;
  color: $base-font--default;
  margin-top: 60px;
  overflow: hidden;

  .highlight {
    color: $hightlight--font;
    font-weight: bold;
    padding-right: 10px;
  }

  a:hover,
  a:focus,
  a:active {
    cursor: pointer;
    text-decoration: none;
  }
}

.slick-slide img {
  display: inline-block;
}

.slide {
  @media (min-width: $screen-sm-min) {
    padding-right: 250px;
  }
}

.season-wrapper {
  margin: 30px 0;
  text-align: center;
  width: 100%;

  .slick-prev {
    background: url('../Images/previous-arrow.svg') no-repeat center;
    border: 0;
    height: 32px;
    margin-right: 10px;

    &:hover,
    :focus,
    :active {
      outline: none;
    }
  }

  .slick-next {
    background: url('../Images/next-arrow.svg') no-repeat center;
    border: 0;
    height: 32px;
    margin-left: 10px;

    &:hover,
    :focus,
    :active {
      outline: none;
    }
  }
}

.slick-wrapper {
  display: inline-block;
  width: 200px;

  @media (min-width: $screen-sm-min) {
    width: 350px;
  }
}

.season-tab {
  @extend %base-font;
  color: $base-font--default;
  position: relative;
  width: 100%;

  .season {
    text-align: center;
  }

  .slick-center {
    @extend %sub-title-font;
    color: $hightlight--font;
  }
}
