.panel {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.panel-title {
  @extend %sub-title-font;
  color: $base-font--inverse;
  text-align: center;

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  a::after {
    background: url('../Images/dropdown_down.svg') no-repeat center;
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    transition-duration: .5s;
    transition-timing-function: ease;
    width: 15px;
  }
}

.open::after {
  transform: rotate(180deg);
  transition-duration: .5s;
  transition-timing-function: ease;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 0;
  padding: 0;
}

.panel-body {
  text-align: center;
}
