.form {
  margin-top: 24px;
}

.form-group {
  margin-bottom: 10px;
}

//select boxes
label {
  @extend %label;
  color: $base-font--inverse;
  margin-bottom: 10px;
}

.custom-dropdown {
  .dropdown-toggle {
    @extend %small-font;
    background-color: $default-background;
    border: 0;
    color: $unfocus--font;
    padding: 10px;
    width: 100%;

    &::after {
      background: url('../Images/down_chevron.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 10px;
      margin-left: 10px;
      width: 15px;
    }

    &.selected {
      color: $base-font--default;
    }
  }

  .selected {
    color: $base-font--default;
  }

  .dropdown-menu {
    background-color: $default-background;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 200px;
    overflow: scroll;
    padding: 0;
    position: absolute;
    width: 100%;

    .dropdown-item {
      color: $unfocus--font;
      display: block;
      padding: 5px 10px;

      &:hover,
      :focus,
      :active {
        background-color: $hover-background;
        color: $base-font--default;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

//checkboxes
.form-check-inline {
  display: inline-block;
  margin-right: 8px;
  margin-top: 36px;

  &:first-child {
    margin-left: 16px;
  }
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom + .checkbox-custom-label::before {
  background: transparent;
  border: $border-color--inverse;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.checkbox-custom:checked + .checkbox-custom-label::before {
    background: $default-background;
    box-shadow: inset 0 0 0 4px $highlight-background;
}
