// Copyright © 2017 of Litebulb Ltd - LUFC Match Stats

.mobile-form {
  background: url('../Images/Mobile_background.svg') no-repeat top;
  background-size: cover;
  min-height: 700px;
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    background: url('../Images/Mobile_background-ipad.svg') no-repeat top;
    background-size: cover;
    overflow: hidden;
  }

  @media (min-width: $screen-md-min) {
    background: none;
  }
}

.form {
  margin-top: 18px;
}

.form-group {
  margin-bottom: 10px;
}

//select boxes
label {
  @extend %label;
  color: $base-font--inverse;
  margin-bottom: 10px;
}

.custom-dropdown {

  &.open {
    .dropdown-toggle {
      box-shadow: inset 2px 2px 8px 0 $box-shadow-background;
    }
  }

  .dropdown-toggle {
    @extend %small-font;
    background-color: $default-background;
    border: 0;
    border-radius: 2px;
    color: $unfocus--font;
    padding: 10px;
    width: 100%;

    &::after {
      background: url('../Images/down_chevron.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 10px;
      margin-left: 10px;
      width: 15px;
    }

    &.selected {
      color: $base-font--default;
    }
  }

  .selected {
    color: $base-font--default;
  }

  .dropdown-menu {
    background-color: $default-background;
    border: 0;
    border-radius: 2px;
    box-shadow: 8px 8px 40px -4px $box-shadow-background;
    height: 200px;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    width: 100%;

    .overflow-list {
      height: 100%;
      overflow: scroll;
    }

    .arrow-up {
      border-color: transparent transparent $default-background;
      border-style: solid;
      border-width: 0 10px 10px;
      height: 0;
      margin-left: 20px;
      margin-top: -10px;
      width: 0;
    }

    .dropdown-item {
      color: $unfocus--font;
      display: block;
      padding: 5px 10px;

      &:hover,
      :focus,
      :active {
        background-color: $hover-background;
        color: $base-font--default;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

//checkboxes
.form-check-inline {
  display: inline-block;
  margin-right: 12px;
  margin-top: 20px;

  @media (min-width: $screen-sm-min) {
    margin-right: 8px;
    margin-top: 36px;

    &:first-child {
      margin-left: 16px;
    }
  }
}

.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom + .checkbox-custom-label::before {
  background: transparent;
  border: $border-color--inverse;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.checkbox-custom:checked + .checkbox-custom-label::before {
    background: $default-background;
    box-shadow: inset 0 0 0 4px $highlight-background;
}
