.landing-wrapper {
  background: url('../Images/Background.svg') no-repeat right;
  min-height: 100vh;
}

.title {
  @extend %title-font;
  color: $base-font--inverse;
  margin: 40px 0;
  padding: 0 0 0 25px;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-float {
  display: inline-block;
  float: none;
  text-align: left;
}

.center {
  margin-bottom: 30px;
  text-align: center;
}

.results-wrapper {
  margin: 40px 5%;
}
