.landing-wrapper {
  background: none;

  @media (min-width: $screen-md-min) {
    background: url('../Images/Background-md.svg') no-repeat top right;
    background-size: cover;
    min-height: 100vh;
  }

  @media (min-width: $screen-lg-min) {
    background: url('../Images/Background.svg') no-repeat top right;
    background-size: 90%;
    min-height: 100vh;
  }
}

.landing-image {
  padding: 0;

  img {
    width: 80%;
  }
}

.title-wrapper {
  text-align: left;
}

.title {
  @extend %title-font;
  color: $base-font--inverse;
  display: inline-block;
  margin: 45px 15px;
  padding: 0;
  text-align: center;
}

.logo {
  margin-top: 50px;
  text-align: right;

  img {
    display: inline-block;
    width: 50px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 40px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 35px;

    img {
      width: 80px;
    }
  }
}

.right {
  text-align: center;
}

.pull-right-lg {
  float: none;
}

@media (min-width: $screen-md-min) {
  .title-wrapper {
    text-align: center;
  }

  .title {
    margin: 30px 0;
  }

  .right {
    text-align: right;
  }

  .pull-right-lg {
    float: right;
  }
}

.no-padding {
  padding: 0;
}

.mobile-no-padding {
  padding: 0;

  @media (min-width: $screen-sm-min) {
    padding-left: 15px;

    .custom-dropdown .dropdown-menu {
      left: 15px;
      width: calc(100% - 15px);
    }
  }

  @media (min-width: $screen-md-min) {
    padding: 0 15px;

    .custom-dropdown .dropdown-menu {
      left: 15px;
      width: calc(100% - 30px);
    }
  }
}

.no-float {
  display: block;
  float: inherit;
  text-align: left;

  @media (min-width: $screen-sm-min) {
    float: left;
  }

  @media (min-width: $screen-md-min) {
    display: inline-block;
    float: none;
  }
}

.center {
  margin-bottom: 175px;
  padding: 0;
  text-align: center;

  @media (min-width: $screen-md-min) {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}

.results-wrapper {
  margin: 40px 4%;
}

.non-mobile {
  display: none;

  @media (min-width: $screen-md-min) {
    display: inline-block;
  }
}
