.landing_wrapper {
  background: url("../Images/Background.svg") no-repeat right;
  min-height: 100vh;
}

.title {
  @extend %title-font;
  color: $base-font_inverse;
  padding: 0 0 0 25px;
  margin: 40px 0;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-float {
  float: none;
  display: inline-block;
  text-align: left;
}

.center {
  text-align: center;
}
