.graph {
  text-align: center;
}

.top-scorer {
  background: $highlight-background;
  border: $border-color--graphs;
  border-radius: 50%;
  display: inline-block;
  height: 220px;
  margin-top: 50px;
  width: 220px;

  h3 {
    @extend %carousel-font;
    color: $base-font--inverse;
    margin: 40px 5px 18px;
  }

  p {
    @extend %sub-title-font;
    color: $base-font--inverse;
  }
}
