// Copyright © 2017 of Litebulb Ltd - LUFC Match Stats

.table {
  border: $border-color--color;
}

.table-wrapper {
  overflow: scroll;

  @media (min-width: $screen-lg-min) {
    overflow: auto;
  }
}

.table>thead>tr>th {
  @extend %sub-title-font;
  background-color: $highlight-background;
  border: 0;
  color: $base-font--inverse;
  vertical-align: middle;
}

.table>tbody>tr>td {
  @extend %base-font;
  border: 0;
  vertical-align: middle;
}

.table>tbody>tr:hover {
  background-color: $hover-background;
}

.goal-scorers {
  min-width: 115px;
}

.home {
  font-weight: bold;
}

.won {
  background-color: $won-background;
  text-align: center;
}

.draw {
  background-color: $draw-background;
  text-align: center;
}

.lost {
  background-color: $loss-background;
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
}

.drop {
  cursor: pointer;

  &::after {
    background: url('../Images/chevron-down_dark.svg') no-repeat center;
    content: '';
    display: inline-block;
    float: right;
    height: 22px;
    transition-duration: .5s;
    transition-timing-function: ease;
    width: 12px;
  }

  &.open::after {
    transform: rotate(180deg);
    transition-duration: .5s;
    transition-timing-function: ease;
  }
}

.dropdown-content {
  background-color: $hover-background;
  padding: 10px 0;
  position: absolute;
  width: calc(100% + 8px);
  z-index: 2;
}

.no-results {
  display: table;
  height: 100px;
  text-align: center;
  width: 100%;

  p {
    @extend %base-font;
    display: table-cell;
    vertical-align: middle;
  }
}
