.parallelogram {
  height: 40px;
  text-align: center;
  transform: skew(-20deg);
  width: 100px;

  &.active {
    background-color: $default-background;
    color: $hightlight--font;
  }
}

.tabs {
  border-bottom: $border-color--inverse;
  padding: 0;

  li {
    @extend %small-font;
    border: $border-color--inverse;
    color: $base-font--inverse;
    cursor: pointer;
    margin-left: 7px;
    margin-right: -7px;
    padding: 10px 0;
    text-align: center;

    &:hover {
      background-color: $default-background;
      color: $hightlight--font;
    }

    &:focus {
      background-color: $default-background;
      color: $hightlight--font;
      outline: none;
    }
  }

  .slick-next {
    left: 0;
    position: absolute;
    top: 0;

    &::before {
      background: url('../Images/chevron_left.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 8px;
      width: 15px;
    }
  }

  .slick-prev {
    &::after {
      background: url('../Images/chevron_right.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 8px;
      width: 15px;
    }
  }

  .slick-arrow {
    @extend %tab-font;
    background: 0;
    border: 0;
    color: $base-font--inverse;
  }
}

.tabs-wrapper {
  .slick-next {
    @extend %tab-font;
    background: 0;
    border: 0;
    color: $base-font--inverse;

    &::after {
      background: url('../Images/chevron_right.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 8px;
      width: 15px;
    }

    &:hover,
    :focus,
    :active {
      outline: none;
    }
  }

  .slick-prev {
    @extend %tab-font;
    background: 0;
    border: 0;
    color: $base-font--inverse;
    float: left;

    &::before {
      background: url('../Images/chevron_left.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 8px;
      width: 15px;
    }

    &:hover,
    :focus,
    :active {
      outline: none;
    }
  }
}
