.parallelogram {
  text-align: center;
  width: 100px;
	height: 40px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	transform: skew(-20deg);

  &.active {
    background-color: $default_background;
    color: $hightlight_font;
  }
}

.nav-tabs>li>a {
  @extend %small-font;
  border: $border-color_inverse;
  border-radius: 0;
  color: $base-font_inverse;
  margin: 0;

  &:hover {
    background-color: $default_background;
    color: $hightlight_font;
  }

  &:focus {
    background-color: $default_background;
    color: $hightlight_font;
    outline: none;
  }

}

.scrtabs-tab-container {
  position: relative;
}

.scrtabs-tabs-fixed-container {
  width: 100% !important;
  padding-left: 8px;
}

.scrtabs-tab-scroll-arrow {
  @extend %tab-font;
  border: none;
  color: $base-font_inverse;
  width: auto;

  &:hover, :focus, :active {
    background-color: transparent;
    color: $unfocus_font;
  }
}

.scrtabs-js-tab-scroll-arrow-right {
  position: absolute;
  right: 0;

  &:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("../Images/chevron_right.svg") no-repeat center;
  }
}

.scrtabs-js-tab-scroll-arrow-left {
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("../Images/chevron_left.svg") no-repeat center;
  }
}
