.parallelogram {
  height: 40px;
  text-align: center;
  transform: skew(-20deg);
  width: 100px;

  &.active {
    background-color: $default-background;
    color: $hightlight--font;
  }
}

.nav-tabs>li>a {
  @extend %small-font;
  border: $border-color--inverse;
  border-radius: 0;
  color: $base-font--inverse;
  margin: 0;

  &:hover {
    background-color: $default-background;
    color: $hightlight--font;
  }

  &:focus {
    background-color: $default-background;
    color: $hightlight--font;
    outline: none;
  }
}

.scrtabs-tab-container {
  position: relative;
}

.scrtabs-tabs-fixed-container {
  padding-left: 8px;
  width: 100% !important;
}

.scrtabs-tab-scroll-arrow {
  @extend %tab-font;
  border: 0;
  color: $base-font--inverse;
  width: auto;

  &:hover,
  :focus,
  :active {
    background-color: transparent;
    color: $unfocus--font;
  }
}

.scrtabs-js-tab-scroll-arrow-right {
  position: absolute;
  right: 0;

  &::after {
    background: url('../Images/chevron_right.svg') no-repeat center;
    content: '';
    display: inline-block;
    height: 8px;
    width: 15px;
  }
}

.scrtabs-js-tab-scroll-arrow-left {
  &::before {
    background: url('../Images/chevron_left.svg') no-repeat center;
    content: '';
    display: inline-block;
    height: 8px;
    width: 15px;
  }
}
