<!DOCTYPE html>
<!--
Copyright © 2017 of Litebulb Ltd - LUFC Match Stats
-->
<label>{{ select.label }}</label>
<div class="custom-dropdown">
  <button type="button" class="dropdown-toggle {{class}}" ng-id="{{ select.id }}" data-toggle="dropdown" data-value="{{ select.value }}" aria-haspopup="true" aria-expanded="false">
    {{ select.placeholder }}
  </button>
  <div class="dropdown-menu">
    <div class="arrow-up"></div>
    <div class="overflow-list">
      <a class="dropdown-item" ng-click="change(product.name)" ng-repeat="product in select.options" data-value="{{ product.name }}">{{ product.name }}</a>
    </div>
  </div>
</div>
